.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: rgba(10,10,10,0.2);
}

.navbar-lewagon-white {
  justify-content: space-between;
  background: white;
  background-color: rgba(10,10,10,0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
